.menu {

    color: black;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    padding-left: 150px;
    padding-right: 50px;
}
.list {
    padding: 20px;
}
.menu-link {
    text-decoration: underline; /* Underline the text */
    color: blue; /* Change the color of the link */
    cursor: pointer; /* Change the cursor to pointer on hover */
    transition: color 0.3s; /* Add a transition effect */
  }